<div [ngClass]="{'on-sale': article.isOnSale, 'not-on-sale': !article.isOnSale}" class="article-card">
  <img [src]="article.imageUrl" alt="{{ article.name }}" class="product-image"/>
  <h2 class="article-title">{{ article.name }}</h2>
  <p [ngClass]="{ 'price-disabled': !article.isOnSale }">
    {{ article.price | currency:'EUR' }}
  </p>
  <p *ngIf="article.isOnSale">¡En oferta!</p>
  <div *ngIf="article.isOnSale" class="quantity-controls">
    <button (click)="decrement()" [disabled]="article.quantityInCart === 0">-</button>
    <p>{{ article.quantityInCart }}</p>
    <button (click)="increment()">+</button>
  </div>
</div>
